# Direct Requirements
colorlog==6.6.0
conan==1.49.0
cryptography==37.0.4
numpy==1.23.1
pyclipper==1.3.0.post3
PyQt6==6.3.1
pytest==7.1.2
scipy==1.9.0
stl==0.0.3
Twisted==22.4.0
zope==5.5.2

# Indirect Requirements
AccessControl==5.3.1
Acquisition==4.10
attrs==22.1.0
AuthEncoding==4.3
Automat==20.2.0
beautifulsoup4==4.11.1
bottle==0.12.23
BTrees==4.10.0
certifi==2022.6.15
cffi==1.15.1
Chameleon==3.10.1
charset-normalizer==2.1.0
colorama==0.4.5
colorlog==6.6.0
conan==1.49.0
constantly==15.1.0
cryptography==37.0.4
DateTime==4.5
DocumentTemplate==4.0
ExtensionClass==4.6
fasteners==0.17.3
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
iniconfig==1.1.1
Jinja2==3.1.2
MarkupSafe==2.1.1
MultiMapping==4.1
multipart==0.2.4
node-semver==0.6.1
numpy==1.23.1
packaging==21.3
PasteDeploy==2.1.1
patch-ng==1.17.4
Persistence==3.3
persistent==4.9.0
pipdeptree==2.2.1
pluggy==1.0.0
pluginbase==1.0.1
py==1.11.0
pyclipper==1.3.0.post3
pycparser==2.21
Pygments==2.12.0
PyJWT==2.4.0
pyparsing==3.0.9
PyQt6==6.3.1
PyQt6-Qt6==6.3.1
PyQt6-sip==13.4.0
pytest==7.1.2
python-dateutil==2.8.2
python-gettext==4.0
pytz==2022.1
PyYAML==6.0
requests==2.28.1
RestrictedPython==6.0a1.dev0
roman==3.3
scipy==1.9.0
six==1.16.0
soupsieve==2.3.2.post1
stl==0.0.3
tomli==2.0.1
tqdm==4.64.0
transaction==3.0.1
Twisted==22.4.0
typing_extensions==4.3.0
urllib3==1.26.11
waitress==2.1.2
WebOb==1.8.7
WebTest==3.0.0
WSGIProxy2==0.5.1
z3c.pt==3.3.1
zc.lockfile==2.0
ZConfig==3.6.0
zExceptions==4.2
ZODB==5.7.0
zodbpickle==2.3
Zope==5.5.2
zope.annotation==4.7.0
zope.browser==2.4
zope.browsermenu==4.4
zope.browserpage==4.4.0
zope.browserresource==4.4
zope.cachedescriptors==4.3.1
zope.component==5.0.1
zope.configuration==4.4.1
zope.container==4.6
zope.contentprovider==4.2.1
zope.contenttype==4.5.0
zope.datetime==4.3.0
zope.deferredimport==4.4
zope.deprecation==4.4.0
zope.dottedname==4.3
zope.event==4.5.0
zope.exceptions==4.5
zope.filerepresentation==5.0.0
zope.globalrequest==1.5
zope.hookable==5.1.0
zope.i18n==4.9.0
zope.i18nmessageid==5.0.1
zope.interface==5.4.0
zope.lifecycleevent==4.4
zope.location==4.2
zope.pagetemplate==4.6.0
zope.processlifetime==2.3.0
zope.proxy==4.5.0
zope.ptresource==4.3.0
zope.publisher==6.1.0
zope.schema==6.2.0
zope.security==5.3
zope.sequencesort==4.2
zope.site==4.5.0
zope.size==4.3
zope.structuredtext==4.4
zope.tal==4.5
zope.tales==5.1
zope.testbrowser==5.6.1
zope.testing==4.10
zope.traversing==4.4.1
zope.viewlet==4.3

